.root {
    -fx-font-size: 20px;
}

#titre {
    -fx-font-family: 'Josefin Sans';
    -fx-text-fill: #004e98;
    -fx-font-size: 40px !important;
}

.button {
    -fx-background-color: #ff6700;
    -fx-text-fill: #EBEBEB;
}